.main {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.flexrow {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.mono {
  font-family: 'Courier New', Courier, monospace;
}